<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjEgNzguOS00My43IDc4LjktNDMuNyAxNC4yLTEyMy4xek0xMjUgNTIuMUw2Ni44IDE4Mi42aDIxLjdsMTEuNy0yOS4yaDQ5LjRsMTEuNyAyOS4ySDE4M0wxMjUgNTIuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTI1IDUyLjFMNjYuOCAxODIuNmgxNi41bDUxLjUtOTkuOCA1MS41IDk5LmhIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<nav>
  <a routerLink="/users">User Management</a>
  <ng-container *ngIf="isLoggedIn">
    <span>Welcome, {{ userProfile?.username }}!</span>
    <button (click)="logout()">Logout</button>
  </ng-container>
  <ng-container *ngIf="!isLoggedIn">
    <button (click)="login()">Login</button>
  </ng-container>
</nav>

<router-outlet></router-outlet>

<!-- Add silent-check-sso.html to your assets folder -->
