<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">{{ title }}</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn && authService.isUserInRole('admin')">
        <a class="nav-link" routerLink="/admin">Admin Dashboard</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="isLoggedIn">
        <span class="navbar-text mr-3">Welcome, {{ username }}!</span>
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()">Login</button>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <button class="btn btn-outline-info my-2 my-sm-0 ml-2" (click)="getToken()">Get Token</button>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
